body {
  background: #e2e1e0;
  text-align: center;
  
}

.container{
    margin-top: 50px;
}

h1{
    font-variant: small-caps;
    text-shadow: 1px 1px 1px #009688;
}

.word-image, .game-items{
    border: 1px solid #aaa;
    padding: 15px;
    margin: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    min-height: 700px;
    text-align: center;
    background: #FFF;
}

#current-word, .letters-guessed{
    font-size: 2em;
    color: #009688;
    letter-spacing: 20px;
}

.win-loss-div, .remaining-guess-div, .letters-guessed-div, .current-word-div{
    border: 1px solid rgba(68, 67, 67, 0.23);;
    padding: 10px;
    margin: 30px 15px;
    font-size: 19px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(68, 67, 67, 0.23);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-variant: small-caps;
}

.win-count, .remaining-guess-count{
    font-size: 2em;
}

.win-div{
    background: #009688;
    color: whitesmoke;
}
.loss-div{
    background: #1E88E5;
    color: white;
    text-align: right;
}

.win-count{
    color: white;
}

.remaining-guess-div{
    background: red;
    color: whitesmoke;
}

.remaining-guess-count{
    color:white;
}

.letters-guessed-div{
    background: #81D4FA;
    color: #E1F5FE;
}